[2018-07-29 08:43] jorgenhenrichsen opened #9 "When loading additional items, remote commands will be called several times."

[2018-07-29 13:08] #9 closed

[2018-08-02 15:24] NigamAnkit opened #13 "Remote Control: NextTrack and PreviousTrack"
How to add NextTrack and PreviousTrack in remote control as if I remove SeekForward and SeekPrevious , it displays the Next and Back Button but are disabled.

Enum has no case for these, So how I can implement it keeping pod attached.

[2018-08-03 14:28] jorgenhenrichsen commented on #13
Will add **next** and **back**. Thank you for pointing out 👍

[2018-08-03 14:44] NigamAnkit commented on #13
Thanks , also is it ready enough to be use for a production app ? As i see
its a pre-release version.

On Fri, 3 Aug 2018 at 8:06 PM, jorgenhenrichsen <notifications@github.com>
wrote:

--
Happy iCoding

Regards,
Ankit Nigam
Associate Tech Lead
ToTheNew
M: +91 8447692554

[2018-08-04 17:59] #13 closed

[2018-08-23 10:28] NigamAnkit opened #16 "Handling interruptions"

[2018-09-21 15:13] jorgenhenrichsen commented on #16
Interruptions from other apps?

[2018-09-27 13:35] jorgenhenrichsen commented on #16
Assuming closed by #18

[2018-09-27 13:35] #16 closed

[2018-10-26 08:31] jorgenhenrichsen opened #26 "Duration not updating properly on iOS 12 simulators, Xcode 10."
The duration of items on iOS 12 (Possibly other versions too) simulator is not loading properly.
This works fine on physical device running iOS 12.

[2018-10-26 12:34] jorgenhenrichsen opened #27 "The QueuedAudioPlayer will not be properly reset."
Calling reset() on the QueuedAudioPlayer will not properly reset the player and queue content.

[2018-10-29 17:50] #27 closed

[2018-11-16 10:52] #26 closed

[2019-01-21 19:51] TheM4hd1 opened #37 "Memory Leaks"
Hi I've got 2 memory leaks,

Here is what I did:

- declaring a ```DefaultAudioItem``` with ```.stream```
- passing it to player, ```player.load(item: audioItem, playWhenReady: true)```

when player starts playing, first leaks happens, and a few second later, second one happens.

![screen shot 2019-01-21 at 11 16 01 pm](https://user-images.githubusercontent.com/31998234/51495873-0f174900-1dd3-11e9

[2019-01-22 10:34] #37 closed

[2019-01-30 20:37] dcvz opened #39 "Caching & More Robust Loading"
Wanted to bring this to your attention: https://github.com/neekeetab/CachingPlayerItem

I've done some basic test integrating into the library and it's interesting.

I think a track should play ASAP - and caching in queued mode should automatically download the next track when the current one is fully loaded.

This doesn't provide all of that but it has some nice ideas.

[2019-01-31 09:56] jorgenhenrichsen commented on #39
Nice!

Yeah, I have thought about the same thing and it is definitely something that should be added 👍

[2019-03-08 16:57] gerritwh opened #43 "How to use with local files?"
Could you please give an example on how to use the player with local mp3 file?

That’ll be awesome!

[2019-03-09 09:42] jorgenhenrichsen commented on #43
Sure 👍
Here is an example when using the DefaultAudioItem struct.
[code]
This of course requires you to find the correct path to your mp3 file.

[2019-03-10 09:25] TheM4hd1 commented on #43
Just a note, don't include ```scheme``` in your path
It's wrong: ```file:///var/container/......./music.mp3```, you have to remove ```file://```

[2019-03-14 12:54] gerritwh commented on #43
Alright. Works perfectly.

I’m getting the path now like this:

`let path: String = Bundle.main.path(forResource: "soundfile", ofType: "mp3")! `

Thank you so much.

[2019-03-14 12:54] #43 closed

[2019-03-16 10:19] TheM4hd1 opened #45 "Crash on loading items immediately"
I've got weird crashes when trying to loading items one after one in ```.stream``` sourceType.
I'm using ```AudioPlayer``` and not ```QueuedAudioPlayer```

I've checked a few things and it seems the problem is with removing observer and sometimes the ```AVPlayerItem``` gets deallocated but the observers for ```.duration``` and ```.loadedTimeRanges```` still registered.

Image 1:

![Screen Shot 201

[2019-03-17 10:34] jorgenhenrichsen commented on #45
Yep, looks like a problem with registering of the observer. I'll look into this when I have time!

[2019-03-21 17:27] jorgenhenrichsen commented on #45
@TheM4hd1 Could you supply some code to describe what you do to make it crash? I haven't been able to reproduce the bug yet.

[2019-04-03 14:36] TheM4hd1 commented on #45
sorry for delay, the problem occurred when I was trying to load items immediately in ```stream``` mode one after one, without letting them to load completely.
I fixed this error by loading items in a ```background``` thread. it works fine now
still testing it and will let you know if the issue still exists.

[2019-04-06 22:14] rawandahmad698 opened #46 "Remove current item?"
This is not an issue!

Question: How do i remove the current item (song) that is about to play?

I'm just curious.

[2019-04-07 18:54] jorgenhenrichsen commented on #46
Hey! Hope I understand you correctly here.

Calling `stop()` on the player will set the current item to nil and stop the player.
If you are using a `QueuedAudioPlayer` and want to remove all upcoming items you can call `removeUpcomingItems()`.

I see now that there is no convenient way to remove the next item in the queue, so will look into that 👍

[2019-04-07 19:44] jorgenhenrichsen commented on #46
Made a PR that makes this more convenient: #47

[2019-04-08 10:09] rawandahmad698 commented on #39
@jorgenhenrichsen; YES, this is  required. Add an ability to download and cache an item, most of my songs are in mp3 and 7>10 MB, so this won't hurt. I do truly love your work. It's clean!

[2019-04-11 11:59] #46 closed

[2019-04-11 18:58] #45 closed

[2019-04-14 13:23] rawandahmad698 opened #48 "Playing local audio file"
Hey there.

I'm trying to work with SwiftAudio. I have downloaded a 3MB music using URLSession and i can see it in the simulator folders,

My URL looks something like this:

`file:///Users/Adam/Library/Developer/CoreSimulator/Devices/D38BAB08-846E-4172-9DB1-8D3567F6E10E/data/Containers/Data/Application/DE2FF955-B927-4542-A290-4DE550B6C53D/Library/Caches/Digger/mySongByAdam.mp3`

Now, using `loadIt

[2019-04-14 15:10] jorgenhenrichsen commented on #48
To get a local file like you have there you could do:
[code]
In my experience you have to remove the `"file://"` when playing downloaded files on the simulator. I haven't properly tested that on a real device, but could be that it is not needed there.

Let me now if the above snippet works for you 👍

[2019-04-16 07:51] rawandahmad698 commented on #48
Thank you so much man, this really helped me! Now it’s working

[2019-04-16 07:51] #48 closed

[2019-04-16 09:19] anharismail opened #50 "Logo Design Offering as Open Source Contribution"
Hello Sir. I'm a Graphics Designer. I'm happy to see an open source project, So, I want provide a logo for you. Would you mind if I propose a new logo design for your project as my Open Source Contribution?

Thanks for the attention.

[2019-04-17 11:05] rawandahmad698 commented on #50
Very nice, thanks for contributing to SwiftAudio

[2019-04-18 07:59] jorgenhenrichsen commented on #50
Sure 👍

[2019-04-18 08:09] murad1981 opened #52 "how to track milli-seconds elapsed time"
currently the player track the state every second of playback, however, I couldn't find a way to track the change every milli-second, so that the playback UI component (slider or UIProgressView for ex.) will update the visual track smoother than a 1 second threshold.

[2019-04-18 08:47] jorgenhenrichsen commented on #52
For now you can set `player.timeEventFrequency = .everyQuarterSecond` and try to animate your progress indicator. Might not achieve exactly what you want, but I will later add a case to `TimeEventFrequency` where you can pass in a custom `CMTime` and receive updates as often as you want 👍

[2019-04-18 10:34] murad1981 opened #53 "cannot play audio after reaching "ended" state"
I cannot play the same audio file again after it ended with end reason: playedUntilEnd, is there a way to play it again ?

[2019-04-18 10:47] jorgenhenrichsen commented on #53
Can you call `player.load(item:)`? Or do you mean a repeat function that will repeat a track when it is completed?

[2019-04-18 11:04] murad1981 commented on #53
I don't mean a continuous playback, I just want to play it again with a second play button press.

[2019-04-18 12:00] murad1981 commented on #53
I can call player.load(item:) but it will reload the item again and there will be a delay, instead the player must play the same item from cache.

[2019-04-18 13:29] jorgenhenrichsen commented on #53
Ah, I get it.  Loading the item will probably result in a delay, as there is no caching system right now. This really ties into #39.

If you want to just replay the current item, you could maybe call `seek(to: 0)` when the item has played to the end? This way when calling `play()` again, it will start over.

[2019-04-18 15:18] #52 closed

[2019-04-20 09:12] rawandahmad698 opened #55 "The operation couldn’t be completed."
**Describe the bug**
Cannot play an audio from a url that has a space.

**To Reproduce**
Add an item.
With no space:
`http://website.com/songs/Hanasakam.mp3`
**IT WORKS**
but with spaces:
`http://website.com/songs/Adil Hawrami - Krmshan.mp3`
As you see, `Adil Hawrami - Krmshan.mp3`

You get:

`The operation couldn’t be completed. (SwiftAudio.APError.LoadError error 0.)`

[2019-04-20 09:25] rawandahmad698 commented on #55
Fixed by replacing the spaces with %20

[2019-04-20 09:25] #55 closed

[2019-04-24 17:34] curiousdustin opened #56 "Player becomes unresponsive after failure to play track."
**Describe the bug**
After there is a problem playing a track, and the AVPlayer status changes to `failed`, the player becomes unresponsive and will not play any other track. Every command after reaching this state results in an error.

**To Reproduce**
I found this error when I was attempting to play a track. I later discovered that there was image metadata in the track. After removing the image

[2019-04-24 20:07] curiousdustin commented on #56
Also I just realized my quick attempt at a fix seems to break the lock screen controls. So yeah, looking for someone with more knowledge on this to implement a better fix.

[2019-04-24 22:31] curiousdustin commented on #56
The busted lock screen issue appears to be related to the AVAudioSession category getting messed up. I'm not sure if it is something I'm doing wrong, or if the session also needs to be reset somehow when a failure like this occurs.

When I log the category before the failure occurs, I get messages like this:

[2019-04-24 22:41] curiousdustin commented on #56
The busted lock screen issue appears to be related to the AVAudioSession category getting messed up. I'm not sure if it is something I'm doing wrong, or if the session also needs to be reset somehow when a failure like this occurs.

If I add logging of the category in `AVPlayerWrapper` like this:
[code]

I get the following output on successful tracks:
[code]

I get this on the failed track:
[code

[2019-04-24 22:42] curiousdustin commented on #56
The symptoms after this are that locking the device, or backgrounding the app, pause playback. When resuming the app, playback continues.

So it seems like it is defaulting to a different category.

[2019-04-25 08:45] jorgenhenrichsen commented on #56
Thanks for the detailed report!
Will look into this when I have time ✅

[2019-04-25 10:55] murad1981 opened #57 "making AVPlayerWrapper class open"
It's important to set the wrapper class access level to be 'open', so I can implement my custom wrapper on top of this wrapper, for example, I want to use a custom `AVPlayerItem` inside the wrapper, there is no way to do so without subclassing AVPlayerWrapper class.

[2019-04-25 11:09] murad1981 commented on #39
yes the library is so clean, a small suggestion is to use the mentioned custom AVPlayerItem in SwiftAudio.

[2019-04-25 20:33] curiousdustin commented on #56
@jorgenhenrichsen, I have taken another stab at this. I think I have resolved the issues with the AVAudioSession.

After the failure happens, the session category needs to be set again for some reason. Otherwise it behaves like it is set to default (i think).

Here is my updated attempt: https://github.com/curiousdustin/SwiftAudio/commit/6a06eba36abec1e5a467c309eb7b292758f2d207

This time, I have

[2019-04-28 18:59] murad1981 opened #58 "calling load(item:PlayWhenReady) doesn't trigger play the second time"
Calling `load(item:playWhenReady:)` method will not trigger `play` method of the wrapper after adding item(s) to the `QueuedPlayer`, that means when I add items first then play any of them, if we decide to add more items or just load a new item later, **the view sometimes freezes** and **the item is not played**.
After some investigation, it turned out to be `load(from:, playWhenReady:)` method, i

[2019-04-30 19:47] murad1981 opened #59 "The player will not play track after disconnect/connect to the internet"
In case I disconnected the device from the internet, and hit play to play the track nothing happens and this is the expected behavior, but I reconnect to the internet and hit play again the audio file will not play as expected.
I can reproduce this bug in your example project.

[2019-05-01 17:56] jorgenhenrichsen commented on #56
I tested with your failing track, but it does not fail for me? What it does however is freezing the UI for 10-15 seconds before eventually playing normally, which i suspect comes from the fact that the asset is not loaded async. I will try to play the track on #51 to see if it freezes there as well.
I tried your branch and the track did not fail for me there either, but froze the UI completely for

[2019-05-01 18:22] curiousdustin commented on #56
Are you testing on device? The track eventually plays for me on simulator but fails on device.

Also I did notice that the async related changes in #51 , do make it so that the track does not completely fail. However, as you said, either way, the player DOES need to gracefully recover from a failure IF it does happen somehow.

This ticket is more about recovering from a failure than avoiding this

[2019-05-01 18:42] jorgenhenrichsen commented on #56
Ah, I tested on simulator.
Yeah, I get that it was not about the specific track, but about recovering from failure in general 👍

[2019-05-11 16:24] jorgenhenrichsen commented on #59
This will be partly fixed by #60 . You will, however, be required to load the item again after the disconnect.

[2019-05-11 17:41] #56 closed

[2019-05-11 17:58] curiousdustin commented on #56
Thanks for implementing a fix! I’ll try to test it out sometime this week. 😁

[2019-06-10 10:11] anharismail commented on #50
Hi @jorgenhenrichsen , I've designed a logo for this project. This logo concept inspired from audio idea (headphone) and bird idea from Swift Bird. I also didn't use or modify swift logo to this logo to avoiding copyright issues from the Swift.

Very welcome if you have any opinions or suggestions about it.

Regards.

![SwiftAudio Ver  1](https://user-images.githubusercontent.com/37614260/59188846

[2019-06-10 10:53] rawandahmad698 commented on #50
Wow. Superb design

[2019-06-11 11:16] jorgenhenrichsen commented on #50
That looks great! Could you send the individual files for each style?
If you want to make a PR just put the files in a folder in the root directory of the project: `/Images/`.

[2019-06-13 10:01] anharismail commented on #50
Hi @jorgenhenrichsen @rawandahmad698 , Thanks for all your response. Very Glad to have it.

Then, I've made pull request about the logo.

I also provide all editable files here: https://drive.google.com/drive/u/1/folders/1nM2dWmc_Ixa3gpVEnmUNsVenAQJqeQmG

[2019-06-13 10:17] jorgenhenrichsen commented on #50
Great! Merged the PR now ✔
Closing this.

[2019-06-13 10:17] #50 closed

[2019-06-21 11:53] #53 closed

[2019-06-21 13:58] mw249 opened #63 "Get Audio Buffering Status"
I am looking for a way to get the audio buffering status and/or event. My audio is an URL being pulled. I have set try? controller.player.load(item: item, playWhenReady: false). I want to receive notice that the audio is ready to play. Do you know how I can achieve this?

[2019-06-22 04:36] #63 closed

[2019-06-23 08:26] jorgenhenrichsen commented on #58
This should be solved now by #51 .

[2019-06-23 08:26] #58 closed

[2019-06-26 22:16] jorgenhenrichsen opened #68 "Add option dictionary to the AVURLAsset."
**Is your feature request related to a problem? Please describe.**
Add a way to supply option key-values to the AVURLAsset by using [init(url:options:)](https://developer.apple.com/documentation/avfoundation/avurlasset/1385698-init).

**Describe the solution or feature you would like**
Should be able to supply these values to the `AudioPlayer`, which will pass it down to the `AVPlayerWrapper` that

[2019-07-01 19:46] alangumer opened #69 "Loading (buffering) state over 3G connection is not triggered when the mp3 file is being loaded"
**Describe the bug**
Loading (buffering) state over 3G connection is not fired when the mp3 file is being loaded. Over Wifi it works OK, I guess because it loads the mp3 file faster.

**To Reproduce**
Just play an MP3 file over a 3G connection and you will see that the loading state is not triggered until the very end.
Edit:
This only happens the first time you load/play an MP3 file, after stoppin

[2019-07-01 21:13] jorgenhenrichsen commented on #69
Okay, so I have tried to run the example app on a device (iPhone X), with a simulated 3G connection, but I cannot reproduce what you describe here. I tried with streaming a longer mp3 file, about 7 minutes, and could not reproduce the problem. I do not have a SE available 📱.

Could you describe in more detail what is happening and what kind of file you try to play? How large is it? How long is it?

[2019-07-02 13:23] alangumer commented on #69
This only happens with longer MP3 files, for example, this 14.7 MB file https://drive.google.com/uc?export=download&id=17EBe2XD_XXKH3izZFl1RKd4tA_TZitk5.

What I mean by the loading state is not triggered immediately is that the loading (buffering) state is not entered immediately after you add/load the mp3 file, there is a delay between the time when you play the file and the time the MediaPlayer

[2019-07-02 18:42] jorgenhenrichsen commented on #69
Okay, thanks for the details! I will look into how it behaves when larger files are played over a slow connection.

[2019-07-03 17:29] jorgenhenrichsen commented on #69
Version 0.10.0 should solve this problem 👍

[2019-07-03 17:31] jorgenhenrichsen commented on #59
Check out the example app in v0.10.0, it contains an example of how to handle a network error. In a future release, this might be handled more gracefully by the audio player itself.

[2019-07-03 18:05] alangumer commented on #69
Awesome, thanks! 👍

[2019-07-03 18:05] #69 closed

[2019-07-08 21:26] #59 closed

[2019-07-09 02:55] wawilliams003 opened #72 "Repeat Audio"
Hello thanks for this wonderful library, do you planned to add any repeating features? either repeat one or all audios? If not I would appreciate if you could point me to the right logic to figure it out. Thank you!

[2019-07-09 09:31] jorgenhenrichsen commented on #72
Hey, this is is a feature that probably will be included sometime in the future.
Meanwhile, this is one possible solution:
[code]
This will just step back the queue whenever a track is finished. If you want to enable/disable the repeat function you can just add a boolean and check that whenever a track finishes.

[2019-07-10 18:22] wawilliams003 commented on #72
Thank you for your response, unfortunately, this suggestion doesn't work. The app crashes after playback ends with error:
**reason: 'Cannot remove an observer <SwiftAudio.AVPlayerObserver 0x6000035f2840> for the key path "timeControlStatus" from <AVPlayer 0x6000022b8800> because it is not registered as an observer.**

**This is what I tried**
` func handlePlaybackEnd(data: AudioPlayer.PlaybackEndE

[2019-07-11 12:52] jorgenhenrichsen commented on #72
Okay I see. What version of SwiftAudio are you using?

[2019-07-11 14:54] wawilliams003 commented on #72
I am using the  latest version.

[2019-07-11 16:28] jorgenhenrichsen commented on #72
Is it happening when the `player.previous()` is triggered? Or `player.next()`?

[2019-07-11 16:30] wawilliams003 commented on #72
It happened when the player.prevous is triggered

Regards,
Wayne

[2019-07-11 16:50] jorgenhenrichsen commented on #72
Okay, for me the method kinda worked, but it is not optimal. I am gonna tag this as an enhancement since a repeat function is useful, so it will be implemented when I get around to it 👍

[2019-07-11 17:02] wawilliams003 commented on #72
Couldn’t get it to work, what I did was
Get the current item. When the current time finished playing I load that current in the Queue. This worked for me. Keep up the great work.

Regards,
Wayne

[2019-07-11 17:14] jorgenhenrichsen commented on #72
Thanks, yeah that seems like a good solution for now 👍

[2019-07-11 17:18] wawilliams003 commented on #72
Here’s the app feel free to check it out and see your wonderful library at work, thank you again.
https://itunes.apple.com/us/app/inspyr-daily-inspiration/id1382904920?mt=8

Regards,
Wayne

[2019-07-11 19:28] jorgenhenrichsen commented on #72
Nice, good job 👍

[2019-07-12 16:12] #68 closed

[2019-07-16 07:28] rurza opened #73 "Less constrained RemoteCommandController"
Hey!
Right now AudioPlayer asks items for related remote commands or uses those provided when track changes.
I find very useful to have the ability to refresh them later (because of the how backend's API is designed) – unfortunately current API doesn't allow to do that.
Maybe a new function or remoteCommands didSet block?

[code]

[2019-07-16 16:57] jorgenhenrichsen commented on #73
Yep, seems like a fair thing to include!

[2019-08-19 13:29] JhonnyTawk opened #75 "Is it possible to load song image from a given url?"
I want to load the song image from my database.
instead of
 `DefaultAudioItem(audioUrl: <String>, artist: <String?>, title: <String?>, albumTitle: <String?>, sourceType: <SourceType>, artwork: <UIImage?>)
`
can I use

`DefaultAudioItem(audioUrl: <String>, artist: <String?>, title: <String?>, albumTitle: <String?>, sourceType: <SourceType>, artwork: **<ImageLink?>)**

`

[2019-08-19 16:50] jorgenhenrichsen commented on #75
Hey,
In this case, you should implement the `AudioItem`- protocol in your own subclass and use that.
There you can implement the `getArtwork(_ handler: @escaping (UIImage?) -> Void)` - method, where you can fetch the image from your database, and then give it to the handler.

[2019-08-20 09:15] JhonnyTawk opened #76 "Move to next song dynamically"
How to move to the next song when I add a new song to the array while music is playing behavior like any music player :
Explanation:
The array has 1 item and I am playing that item then I click on another item and I added to the array so the array now has 2 items and I want so the second item starts playing.

[2019-08-20 10:55] JhonnyTawk opened #77 "Jump to Item is not working"
I am using this code:

`for i in 0 ..< songInfoArray.count {
    let item = songInfoArray[i]
    let audio = DefaultAudioItem(audioUrl: item.url artist: item.singerName, title: item.title, albumTitle: item.thumbnail, sourceType: .stream)
     sources.append(audio)
            }`

`try? player.add(items: sources, playWhenReady: false)`

`if songInfoArray.count  > 1 {
     try? player.jumpToItem(atI

[2019-08-21 18:35] jorgenhenrichsen commented on #76
You should use the `QueuedAudioPlayer` for queue functionality.

[2019-08-21 18:40] #72 closed

[2019-08-22 08:52] JhonnyTawk opened #78 "Add the ability to Shuffle songs"

[2019-08-22 09:09] JhonnyTawk commented on #72
@wawilliams003 can you give me pointers how did you add the shuffle and the repeat button?
Thank you

[2019-08-22 18:16] curiousdustin opened #79 "[Question] Is Remote Notifications actually needed?"
I am using `SwiftAudio` as part of `react-native-track-player`. I am trying to track down some issues related to the lock screen controls and background loading. https://github.com/react-native-kit/react-native-track-player/issues/709

So far, I don't think the issue is with `SwiftAudio`. However, I was looking at differences between `SwiftAudio` example and `react-native-track-player` example, an

[2019-08-22 19:26] jorgenhenrichsen commented on #79
You are right, I did not spot that! Just a mistake on my part, I will remove the recommendation to turn them on. The only background mode that is needed is the Audio, Airplay, and Picture in Picture mode, for playback.

[2019-08-22 20:17] curiousdustin commented on #79
👍  Thank you very much for your quick reply :)

[2019-08-22 20:17] #79 closed

[2019-08-22 21:02] #75 closed

[2019-08-22 21:03] #76 closed

[2019-08-22 21:08] jorgenhenrichsen commented on #77
Sorry, it is hard for me to understand your issue.
It is much easier to understand your code if you are clear on what you expect to happen, what you do, and what actually happens. Also please provide what version you are on when reporting an issue.

[2019-08-24 07:25] JhonnyTawk commented on #77
The issue is I am populating the source array of the fly so If I have 3 items and I added 5 and then I wanted to jump to the last item it's not working.
If I set the array with all the items at first that way it works.

I am using the last version on Github.

[2019-09-11 12:31] SalarDastan opened #82 "iOS 13 won't play next track in Queue Automatic!"
**Describe the bug**
iOS 13 won't play next track in Queue Automatic!

**To Reproduce**
just create an array with DefaultAudioItem and then playsong.

**Expected behavior**
after a track ends automatic play next track in queue

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
iOS
xCode 11-beta7

**Smartphone (ple

[2019-09-12 07:10] rawandahmad698 commented on #82
I'm not on iOS 13 or macOS Catalina, when they're available globally, i'd be happy to take a look

[2019-09-18 15:17] sathishvgs opened #83 "Remove AvPlayer from Notification Center"
Once the audio player has finished playing how can we remove the Player displaying in NotificationCenter or Lock Screen.

[2019-09-26 09:12] JhonnyTawk opened #84 "Play last song on previous when I am on the first one"
**Is your feature request related to a problem? Please describe.**
go to the last song when I am on the first one and I click on previous

**Describe the solution or feature you would like**
I want to add the behavior when user click on previous and he is on the first to play the last song and so on

[2019-09-30 07:54] JhonnyTawk commented on #39
@dcvz Hey, I am trying to add caching to SwiftAudio using https://github.com/neekeetab/CachingPlayerItem

but the func add and load take AudioItem `add(items: [AudioItem], playWhenReady: Bool = true)`

and in the caching library AVPlayer take CachingPlayerItem so how to integrate it?

Thank in Advance

[2019-10-01 19:44] jorgenhenrichsen commented on #82
Are you running the example application? It works for me on a iPhone 11 simulator in Xcode 11.0 (11A419c).

[2019-10-01 20:01] jorgenhenrichsen commented on #83
Try calling the `NowPlayingInfoControllers` `clear()` function when you want to clear all info. This can be done by calling `player.nowPlayingInfoController.clear()`.

[2019-10-02 11:23] SalarDastan commented on #82
thanks to u, looks like apple fixed it in iOS 13 release date.
if there is a bug i'll let u know.

[2019-10-02 11:23] #82 closed

[2019-10-14 08:19] sathishvgs commented on #83
Thanks, @jorgenhenrichsen . Now, it's working fine.

[2019-10-14 08:19] #83 closed

[2019-10-21 05:39] DangarOpenxcell opened #85 "playing current time and duration get wrong"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
If needed, include code examples for the problem or steps to reproduce.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. i

[2019-10-21 17:06] jorgenhenrichsen commented on #85
You have to provide more details to explain your problem.

[2019-10-21 17:06] #85 closed

[2019-10-27 11:28] biesbjerg opened #86 "[Question] Get total duration"
Is it possible to get total duration of a remote audio file?

By using the event `updateDuration` event the duration is continually updated (I think until everything has been downloaded/buffered?). This makes the knob on a seek bar/scrubber jump around until duration has been determined and are perceived quite buggy and hard to use by our users.

PS. Thanks for an awesome lib! :)

[2019-10-29 09:25] biesbjerg commented on #86
Additional info: If I start playback of a file and take a look at the lock screen, the full duration is available even though I'm still getting `updateDuration` from `SwiftAudio`.

Tested on a device using iOS 13.

[2019-10-30 07:50] biesbjerg commented on #86
I see that that the duration is available using `player.duration` at some point, but when is it safe to assume it is available? What's the purpose of event `updateDuration` that does not contain the total duration?

[2019-10-31 19:15] jorgenhenrichsen commented on #86
The `updateDuration` event is called whenever the AVPlayerItem changes its `duration`. You can use this to know when the duration changes. If if seems to change abnormally I can take a look into it.
The class that is the source of the event is the `AVPlayerItemObserver`.

To my knowledge you can assume that the `player.duration`  is available when the state changes to `ready`

[2019-10-31 20:16] biesbjerg commented on #86
In my case, updateDuration seems to update continuously.

I tried using player.duration on ready event, but if you pass playWhenReady: true, state goes directly from loading -> playing, never entering ready state. Workaround is to update duration on ready+playing events, but that means I update duration every time player starts playing, after pausing etc.

I’m seeing another bug regarding state, w

[2019-11-02 09:26] jorgenhenrichsen commented on #86
The `updateDuration` seems to work as intended, it is only intended to send events whenever the item updates its duration value. Does your scrub behave better with your PR #87 and using the player's ready state?

As for the incorrect state, that is interesting and definitely seems like a bug 🐛You can move it to a separate ticket and I will do some testing too 👍

[2019-11-02 10:36] biesbjerg commented on #86
With the PR, I can access `player.duration` when `ready` :)

I don't think I completely understand the `updateDuration` event though, if it's working as intended. Why does it emit intermediate duration values up until the final full duration when the full duration it is already on `ready`?

[2019-11-02 10:42] biesbjerg opened #88 "Player state does not always change to playing"
Player state sometimes does not change to `playing`, even though audio starts and `elapsedSecond` event emits. It happens randomly, but more often if your network connection is slow. I'm testing on a device using `Network Link Conditioner` in `Settings` -> `Developer Options` to simulate a slow connection.

![image](https://user-images.githubusercontent.com/230182/67984525-37b45500-fc27-11e9-9167-

[2019-11-04 17:51] mbend opened #89 "Open filename that contains whitespaces"
Hi, I'm using this library to open local url but I have a problem when I try to open an url that contains whitespaces in filename.
So, for example, if I try to open a file which name is "example_file.mp3" this audio is successfully opened.
But, if I try to open a file which name is "example file.mp3" an error occurs "The requested URL was not found on this server". I've also tried to replace the n

[2019-11-07 12:55] AssyriaGameStudio opened #90 "The "player.currentTime" value returned is incorrect - more so after a seek,"
**Describe the bug**
When you try and fetch the current time using player.currentTime AFTER having seeked a track; it returns a value that is off by < 1%.

By way of example, I played a track with duration 1700.78, seeked to close to the end of the track right away, and once the track ended it reported a progress time of 1682.39 (so off by around 1.1%)?

I've tested both having done a seek and hav

[2019-11-11 07:47] biesbjerg commented on #90
As a workaround for now, it seems it might be possible to set this key without the need to modify `SwiftAudio`, by creating your own `AudioItem` class conforming to protocol `AssetOptionsProviding`? https://github.com/jorgenhenrichsen/SwiftAudio/blob/09a7548f3ac90e2362faa3e27bcff6fbc75830f4/SwiftAudio/Classes/AudioItem.swift#L39-L42

[2019-11-11 13:31] nishanBende commented on #39
@dcvz We could also add a preloading functionality.
Ideas:
https://github.com/delannoyk/AudioPlayer/issues/36#issuecomment-198806154

Thanks @dcvz for react-native-track-player. I came looking if the underlying SwiftAudio provides a preloading functionality.
I am not an iOS developer but will try to implement this feature in a fork. I'll let you know if I come up with something.
This is a must-hav

[2019-11-14 11:41] nbashaw opened #91 "`player.audioTimePitchAlgorithm = .varispeed` doesn't work"
**Describe the bug**
After I initialize my player, I set `player.audioTimePitchAlgorithm = .varispeed`, but it doesn't work. (Really, I want Spectral, but varispeed should be really obvious and produce a chipmunk-like sound at 2x, so I'm just using that to try to reproduce the bug. It sounds like it's actually using `lowQualityZeroLatency`.)

I also tried subclassing AudioItem but that doesn't wor

[2019-11-17 01:28] limelightapp commented on #39
@nishanBende let me know when you do! That would be an amazing feature.

[2019-11-17 03:51] nishanBende commented on #39
@dcvz I have attempted a preload functionality in SwiftAudio and tested with react-native-track-player.
The playing becomes as fast as a downloaded asset. I have been testing this for a few days.
https://github.com/nishanBende/SwiftAudio/commit/41e5564c4f604c86a5c8802eab627c887c2b8d80

P.S. I am not sure about the implications it can bring, I took the implementation idea from this comment.
https:/

[2019-11-17 04:08] nishanBende commented on #39
@dcvz I am managing the queue in JavaScript because the underneath QueueAudioPlayer is not preloading the next track so I have exported the preload function to RNTrackPlayer with preload/cancelPreload implementation in this commit.
https://github.com/nishanBende/SwiftAudio/commit/41e5564c4f604c86a5c8802eab627c887c2b8d80

I feel we should split it into 2 separate features.
1. Caching while Playing.

[2019-11-25 15:55] mrigo opened #94 "Crash in Release mode only"
**Describe the bug**
In debug mode all works like charm, in release the app crashes trying to play audio.

**To Reproduce**
Install pod, add tracks and run in release mode.

**Expected behavior**
Always works like in debug.

**Desktop (please complete the following information):**
 - OS: 10.14.6
 - Version: 0.10.0

**Smartphone (please complete the following information):**
 - Device: Simulator iP

[2019-11-28 09:57] mrigo commented on #94
Any update on this? Is it even happening to anyone?

[2019-11-28 17:45] jorgenhenrichsen commented on #94
Not aware of this, have you tried with a fresh native iOS project, import SwiftAudio then build for release?

[2019-11-29 03:59] mahadshahib opened #95 "how should I implement update duration ?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
If needed, include code examples for the problem or steps to reproduce.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. i

[2020-01-04 22:56] mihailsalari opened #97 "Previous Items appends the last played Item"
Hello,
I have a table view with a list of categories. When I'm open any category, I have a list of songs.
I'm adding the list of songs to QueuedAudioPlayer like in 1 number. First time the previous and next are working correctly, but if I'm leaving the current category, going back and trying to open another one, the last played song is added to Previous Items from 0 and one of the current previous

[2020-01-10 18:54] curiousdustin commented on #83
@jorgenhenrichsen, is it expected that this will remove the controls from the lock screen, even if you are viewing the lock screen at the time?

I tested this in the example app by adding the following:

[code]

When the last track ends while I am viewing the lock screen controls, instead of disappearing, the controls change to sort of a cleared default state. If I toggle the screen off and on aga

[2020-01-10 19:05] curiousdustin commented on #83
I also tried this with the same results:
[code]

[2020-01-10 19:06] curiousdustin commented on #83
The top answer here makes it seem like it should work:
https://stackoverflow.com/questions/52243428/how-to-vanish-player-controls-from-lockscreen-after-the-playback-has-finished-in

[2020-01-15 12:20] kozlovski26 opened #98 "Show audio item image,name and more."
Hi,
I want to show song details when I'm connecting to some Bluetooth device like tv.
How can I do it?
For now, ic can see when I connect to tv just the progress bar and time.

[2020-01-17 16:04] curiousdustin commented on #83
@sathishvgs , can you confirm the controls disappear for you even if you are viewing them at the time?

[2020-01-19 04:39] sathishvgs commented on #83
@curiousdustin , while listening audio we need the controls on Notification Center. If we dismiss the audio controller, it will be removed from the Notification Center. So, it's working for me.

[2020-01-19 04:40] sathishvgs commented on #83
@curiousdustin ,
Shall I know what you are want to achieve? So, that I can help you.

[2020-01-19 05:02] curiousdustin commented on #83
I’m talking about when the last track ends and there is nothing left to listen to.

If I watch the lock screen / Notification Center controls, when the track is ending, they should disappear. But, they do not.

[2020-01-31 15:27] saurabh23july opened #99 "Set Play/Pause state in UITableView"
How to manage Play/Pause Button title in UITableView.

[2020-02-12 06:20] #99 closed

[2020-02-12 11:06] RAMSHEER opened #100 "How to load sources dynamically ? audio url dynamically for queued playing"
How to load sources dynamically? audio URL dynamically for queued playing

[2020-02-12 12:15] #100 closed

[2020-02-20 21:17] uzegonemad opened #101 "Remote commands not enabling as expected"
**Describe the bug**
Let met start by saying I don't do much with Swift; I'm using this library as a part of [react-native-track-player](https://github.com/react-native-kit/react-native-track-player).

Our app implements skipBackward and skipForward. Randomly, the iOS lock screen will display the standard rewind button instead of the skip backward button.

I'm led to believe this is some kind of r

[2020-02-29 05:42] cendolinside123 opened #102 "progress bar on MPRemoteCommandCenter still update when player on .loading state"
**Describe the bug**
I set my network link conditioner on 3g, when I play a song at music player at the middle of song music player state change to .loading and progress bar on music player interface didn't update/moving but progress bar on MPRemoteCommandCenter still updateing the value

**To Reproduce**
set metwork link conditioner to 3G

**Expected behavior**
not updateing progress bar until pl

[2020-03-05 10:16] buithuyen opened #103 "Playing loops and infinite loops"
Hi there.

I would like to play loop audio item.
Could you guys help me how can I do it?

Thanks!

[2020-03-18 14:30] mohamedmernissi commented on #57
Hello, i am trying to impelement the same thing but I am nowhere near reaching a good solution and I don't have much time. Did you manage to imlement caching? If you did can you please post a solution? thanks.

[2020-03-27 20:21] JhonnyTawk opened #105 "How to implement Custom DefaultAudioItem with my custom Items?"
How to implement Custom DefaultAudioItem with my custom Items.

I want to use more than title and album title I want to implement more than the current implementation

`DefaultAudioItem(audioUrl: item.mp3Path.replaceTom3u8(), artist: item.singerName, title: item.title, albumTitle: item.singerName, sourceType: .stream, artwork: image)`

How to achieve that?

[2020-04-07 02:41] quangquy87 opened #106 "Not play audio when app goes into the background"
**Describe the bug**
When app goes into the background, audio stop play.
I checked Audio, AirPlay, and Picture in Picture in Background Modes

[2020-04-14 14:09] rawandahmad698 commented on #106
Have you tried running the code from the "Example" folder that comes with the source code?

[2020-04-14 20:21] ds8k opened #107 "EXC_BAD_ACCESS"
I'm using `react-native-track-player`, which uses this library for iOS audio playback. I've run into an issue that I can't seem to find the root cause of - my app is crashing when trying to add tracks to it suddenly. When it crashes, I get this error:

[code]

The code it's telling me that caused the crash is in `NowPlayingInfoCenter.swift`:
[code]

Looking through the trace on the right of Xcode,

[2020-04-14 21:06] #107 closed

[2020-04-16 14:30] JhonnyTawk commented on #105
Solved!

[2020-04-16 14:30] #105 closed

[2020-04-17 02:08] curiousdustin opened #108 "Play file with Content-Type: application/octet-stream?"
Is it possible to use this library to play files that are served from S3 with Content-Type: application/octet-stream headers?

[2020-04-19 02:46] curiousdustin commented on #101
I am also using this in `react-native-rack-player`. Seeing strange behavior related to the remote commands getting re-enabled every time the track changes.

When I get time, I will try to see if I can reproduce the behavior in the SwiftAudio example (outside of react native).

In my case, I don't actually want to change the remote commands ever, after the first time they are set. It seems odd that

[2020-04-19 02:53] curiousdustin commented on #101
Related: https://github.com/jorgenhenrichsen/SwiftAudio/pull/66

[2020-04-21 10:21] JhonnyTawk commented on #107
I am having this issue also

[2020-04-21 18:45] curiousdustin opened #109 "Allow inheritance from AudioPlayer and QueuedAudioPlayer"
**Is your feature request related to a problem? Please describe.**
In my project I would like to override some portions of QueuedAudioPlayer. I cannot because is it marked as `public`, and not `open`.

I want to override because I want to send events to react native when certain things happen. Most of these can be achieved alternatively by listening to the events emitted by SwiftAudio, however, th

[2020-04-21 19:19] curiousdustin commented on #109
I should have included the error:

`Cannot inherit from non-open class 'QueuedAudioPlayer' outside of its defining module`

[2020-04-24 10:11] Igorsnaki commented on #107
also facing the same issue.

@ds8k hi. did you managed to fix it?
Any suggestion?

[2020-04-26 06:23] cendolinside123 opened #110 "player always return error code -11819 after add AVURLAssetPreferPreciseDurationAndTimingKey on load(from:playWhenReady:initialTime) in AVPlayerWrapper class"
**Describe the bug**
So, I try add AVURLAssetPreferPreciseDurationAndTimingKey on load(from:playWhenReady:initialTime) in AVPlayerWrapper class

`func load(from url: URL, playWhenReady: Bool, initialTime: TimeInterval? = nil, options: [String : Any]? = nil) {
        _initialTime = initialTime
        self.pause()

        var opt = options
        if options == nil{
            opt = [

[2020-04-26 06:27] cendolinside123 commented on #102
after all it's look like I can create a handle for some error.

- adding automaticallyWaitsToMinimizeStalling = true to handle when player still .buffering or .loading but AudioPlayer.currentTime keep updating the value
- adding nowPlayingInfoController.set(keyValue: NowPlayingInfoProperty.playbackRate(0)) to handle when player still .buffering or .loading but MPRemoteCommandCenter keep updating t

[2020-04-26 10:42] cendolinside123 opened #111 "The elapsed playback time not accurate after seeking"
**Describe the bug**
So, I play song (format song is flac), after I seek progres bar the song and progress bar seems not synchronize. the progress bar and  elapsed playback time not ended at correct duration

song with flac format:
https://www.eclassical.com/custom/eclassical/files/BIS1447-002-flac_24.flac

**Screenshots**
![IMG20200426170508](https://user-images.githubusercontent.com/29350026/803

[2020-04-27 02:11] mahmoudOmara opened #112 "**Describe the bug**the elapsedTime still counting after the audio reaches to end"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
If needed, include code examples for the problem or steps to reproduce.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. i

[2020-04-27 02:25] mahmoudOmara commented on #112
**Describe the bug**
after the current audio reach to end and ask the player to play next audio as I choose to not play automatically the current time continues counting

**To Reproduce**
1) configure the player ass follow:-
-player.automaticallyWaitsToMinimizeStalling = false
-player.automaticallyPlayNextSong = false

2) add four audio to the player "SourceType = stream"
3) jump to item at any in

[2020-04-28 08:15] cendolinside123 commented on #112
it's happend to me, for some case I set `automaticallyWaitsToMinimizeStalling = false` it work perfectly. But it's still happend when I play song with audio format is flac after I seek a song. I already try adding `AVURLAssetPreferPreciseDurationAndTimingKey : true` but it's not working on flac format #110

[2020-04-29 15:23] curiousdustin opened #114 "Calling pause while track is loading has no effect."
**Describe the bug**
If `pause()` is called while the next track is loading, the track still plays after it has loaded.

**Expected behavior**
The track would not play once it has loaded. Instead it would be paused at the beginning.

**Desktop (please complete the following information):**
 - Version 0.11.2

**Additional context**
I believe this is because of the `_playWhenReady` flag. If I add th

[2020-05-15 02:37] meilers opened #116 "Play on a bluetooth speaker (with Airplay)"
Not sure how hard this would be to implement, but for sure it would make this library even greater.

[2020-05-26 06:48] abdulrehman73331 opened #117 "Skipforward and skipforward issue"
I'm little confused can any one help me how to skip forward 30 sec and skip backword 30 sec on clicking button (IbAction)

[2020-05-27 07:15] abdulKarim002 commented on #117
get the current from your player obj ie -

then add + 30 for forward and -30 for backward

[2020-05-27 07:24] abdulrehman73331 commented on #117
Hi since currentTime is get property only where I add +30 or - 30 sec

[2020-05-27 09:24] abdulKarim002 commented on #117
if i would have understood correctly , store the current time + 30 and add the update value on

for example if u want to do forward
[code]
this will forward your audio

[2020-05-28 06:11] abdulrehman73331 commented on #117
nop unfortunately its not working

[2020-05-28 09:36] abdulKarim002 commented on #117
can u share your code if possible

[2020-06-11 17:28] joekw opened #118 "Set preferredPeakBitRate"
Hi,

How would I set the preferredPeakBitRate using this library?

[2020-06-25 10:41] robinalexandre opened #119 "Catch Expired Auth Token to modify headers"
**Describe the bug**
When you query a network file with auth token headers, the firsts queries are OK. However, if your token is expired after an amount of time, the app can't download the other parts of the file and you don't get any error.

**To Reproduce**
Just query a file which is protected with an auth token. Set an expired time for your token of 2 minutes and you'll get a 401 error within a

[2020-07-15 22:06] gorbat-o opened #123 "player.load(item: audioItem, playWhenReady: false) + player.play() doesn't change the current state"
**Describe the bug / To Reproduce**
[code]

**Expected behavior**
When using the function `player.play()`, I believe it supposed to change the `player.playerState` to `.playing` and not stay on `.loading`

**Smartphone (please complete the following information):**
 - Device: Simulator iPhone 11 Pro Max
 - OS: iOS 13.5

Thanks! :)

[2020-07-27 04:39] whsmacon commented on #39
I also come from react-native-track-player and would love to see gapless queues implemented.

[2020-08-05 15:43] TomPFlahive opened #124 "Cannot run Example app"
I am getting an error, "No such module 'SwiftAudio'", when I try and build the example app.  I cloned the repository, navigated to the Example folder, ran pod install, and got the following confirmations: "Installing SwiftAudio 0.11.2 (was 0.7.2)" and "Pod installation complete! There are 3 dependencies from the Podfile and 3 total pods installed."  So it seems that worked correctly.  I then open

[2020-08-20 08:46] nishant6042 opened #125 "How to know that the song is ended"
In my app i am playing single song so no option for next and previous. I want that when the songs end then the slider value should be reset, the play btn image should be changed and the current time should be "00:00" so that i can again play. But right now as per your example when the songs end the play button image changes to play, the song stops but the slider and current time label doesnt chang

[2020-08-25 05:06] bmp123 commented on #85
have same issue

[2020-09-30 09:32] abdulKarim002 commented on #125
@nishant6042  implement this event on player
`player.event.playbackEnd.addListener(self, handlePlaybackEnd)`

[code]

[2020-10-07 18:31] whsmacon opened #126 "AVQueuePlayer for gapless audio"
Can the AVPlayer not be switched out for an AVQueuePlayer and use that instead of the QueueManager? I believe this would eliminate audio gaps.

[2020-10-22 07:56] nishant6042 opened #128 "Regarding stop button functionality"
i have a button of play and stop the play pause functionality working fine but when i click on stop button it resets everything which works but when i play again nothing happens..please help

[2020-10-22 11:52] sukh1993 commented on #128
I have faced same problem in my current project but i have handle like this.
[code]

[2020-10-23 03:49] nishant6042 commented on #128
not working @sukh1993 sir,

my code is as follows, can you point me where i am wrong where to add what code

var audioURL:String?
    private var isScrubbing: Bool = false
    private let audioPlayer = AudioPlayer()
    let audioSessionController = AudioSessionController.shared
override func viewDidLoad() {
        super.viewDidLoad()
        setupAudioPlayer()
        configureTrackSlider()

[2020-10-23 11:04] sukh1993 commented on #128
@nishant6042 try this its works for me
[code]

[2020-10-24 04:11] nishant6042 commented on #128
not working @sukh1993 sir, i have done audiolayer.stop() in stop button click and in playedUntilEnd i have done as you said

[2020-10-26 02:55] nishant6042 commented on #128
And actually i my case theres no next song when current song ends it just have to start the same song again but when i click stop button the ui resets but when play again it doesnt do anything

[2020-10-26 08:49] nishant6042 commented on #128
pls help @sukh1993 sir

[2020-10-27 10:46] sukh1993 commented on #128
@nishant6042 hi
//If things is not working try this with some tricks
[code]

[2020-10-27 11:08] nishant6042 commented on #128
not working still @sukh1993 sir

[2020-10-27 11:12] sukh1993 commented on #128
@nishant6042 check with break points, Is your player reload the url or not on play button. if It is not working change stop method to pause.

[2020-10-27 11:17] nishant6042 commented on #128
@sukh1993 sir working when doing pause instead of stop but doing that it pauses i want to restart from start when stop clicked

[2020-10-27 12:33] sukh1993 commented on #128
@nishant6042 I will working this issue, this is bug on swift Audio side.

[2020-10-27 13:39] nishant6042 commented on #128
So whats the alternate for now?

[2020-10-28 05:37] nishant6042 commented on #128
and also what should i do to play in background also when i leave the screen @sukh1993 sir

[2020-10-29 07:29] sukh1993 commented on #128
Hi @nishant6042
Are you manage cache?
means i load one audio and then play again, it will play from without load.
If you did this please let me know, how can be?

[2020-10-29 08:46] sukh1993 commented on #128
@nishant6042  also check this link :- https://github.com/jorgenhenrichsen/SwiftAudio/issues/53
about stop functionality

[2020-11-02 09:50] TomFrank opened #129 "QueuedAudioPlayer.reset() is not accessible due to 'internal' protection level"
**Describe the bug**
I want to reset QueuedAudioPlayer's queue, but the reset() method is not accessible.

**To Reproduce**
Call queuedPlayer.reset()

**Expected behavior**
queuePlayer queue can be cleared so that it can be replaced with new audio items.

**Screenshots**
None

**Smartphone (please complete the following information):**
 - Device: Any
 - OS: iOS 14; Xcode 12
 - Version SwiftAudio (

[2021-01-05 07:05] aloveric opened #131 "Not working with local file in Queue"
**Describe the bug**
When sourceType: .stream, it works. But not working with local file in Queue.

Code:
var player = QueuedAudioPlayer()
let filePath = "/Users/xxxx/1.m4a"
let audioItem = DefaultAudioItem(audioUrl: filePath, sourceType: .file)
try? self.player.add(item: audioItem, playWhenReady: true)

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhoneXs ...]
 -

[2021-01-06 17:57] asmpg commented on #124
When using cocoapads to manage your dependencies;

 after 'pod install', you should use Xcode to open workspace config (**\*.xcworkspace**) .

Do not open project config **\*.xcodeproj** .

[2021-01-07 05:14] asmpg commented on #131
You should check if you have permission to read the m4a file.
Normally, you can only access the folders and files in your app sandbox on iOS .
You may have two choice:
1. use **UIFileSharingEnabled**, expose your sandbox directory to user in iOS Files App, then copy file to that directory in Files app, [here is an example](https://github.com/artemnovichkov/FileSharingExample)
2. Or, you can just a

[2021-02-19 15:07] parikshit08 opened #132 "Load the audio player"
when we use http audio song . Player not load properly and player not provide current time and maximum duration.

[2021-03-18 09:39] cendolinside123 commented on #110
@jorgenhenrichsen

[2021-03-18 09:40] cendolinside123 commented on #111
@jorgenhenrichsen

[2021-03-18 09:40] cendolinside123 commented on #102
@jorgenhenrichsen

[2021-04-08 04:34] akshay040996 opened #134 "MPRemoteCommandCenter"
**Describe the bug**
MPRemoteCommandCenter not showing at my notification screen.

**Desktop (please complete the following information):**
 - OS: 10.15.7
 - Version [e.g. 0.7.0]

**Smartphone (please complete the following information):**
 - Device: All
 - OS: 13.7
 - Version [e.g. 0.7.0]

**Additional context**
Add any other context about the problem here.

[2021-04-20 15:40] ralspatel opened #135 "handleAudioPlayerStateChange call multiple time"
Hi @jorgenhenrichsen

func handleAudioPlayerStateChange(data: AudioPlayer.StateChangeEventData) {
}

with QueuedAudioPlayer when it plays the song at that time above method call 1 time, once all queued song playing finished, I go back and stop the player so upcoming and previous item will be erased. once I come back at that time above method call 2 times, when I come back at that time above method

[2021-05-09 06:42] stfenjobs commented on #103
+1

[2021-05-10 10:32] stfenjobs opened #136 "how to clearQueue"
[code]

[2021-05-14 17:42] debshyantan commented on #83
hi @sathishvgs ,

        controller.player.stop()
        controller.player.nowPlayingInfoController.clear()
        try? controller.audioSessionController.deactivateSession()
        controller.player.automaticallyUpdateNowPlayingInfo = true

i used the above code, the player stopper but mediaplayer in notificationcenter did not removed

[2021-05-18 02:25] parth0072 commented on #136
Hey @stfenjobs
You can use my fork version [https://github.com/parth0072/SwiftAudio](url)
Let me know if you have any question on that.
Thanks

[2021-05-24 09:07] stfenjobs commented on #136
thank you  @parth0072

[2021-05-24 09:07] #136 closed

[2021-07-17 08:51] ralspatel opened #139 ".wav file not play"
hi @jorgenhenrichsen  only .mp3 files are played in this player, is there any way to play other music extension files something like that .wav, . AAC, .AC3 etc

[2021-07-24 05:59] #139 closed

[2021-08-19 12:15] dcvz opened #140 "Repository Future"
Hi @jorgenhenrichsen ,

I've been maintaining [a fork](https://github.com/DoubleSymmetry/SwiftAudioEx) of this repository - where I've done additional bug fixes and will continue building out the library with eventual support for caching, etc. We're also working on an Android audio framework.

I want to publish those changes to the community and can easily do so by creating a new pod but I wanted

[2021-09-10 22:09] giorodri0584 commented on #140
I can bouch for dcvz. He has the best audio library in the react native community.

[2021-09-22 04:11] hubertdaryanto opened #141 "@available enum issue"
Hi @jorgenhenrichsen , I already fixed a bug that occured in XCode 13 (app store release version), uploaded on [a fork](https://github.com/hubertdaryanto/SwiftAudio) of this repository. FYI, this is a screenshot that describes the error.

[
<img width="1658" alt="Screen Shot 2021-09-21 at 15 09 26" src="https://user-images.githubusercontent.com/44110011/134281963-1dafb872-0d21-4500-87ec-76c8707db6

[2021-09-23 11:39] karthikAdaptavant commented on #141
@hubertdaryanto could you pls open a pull request to get it merged with the base branch.
i am in need of this change from base.

[2021-09-26 03:49] DkSuperMan opened #142 "iOS 15 can not play music in the background"
This seems to be caused by using avplayer,  stop the music after it’s finished playing. should we use avaudioplayer?

[2021-09-27 09:15] ralspatel opened #143 "Song will not play if it contains any character between "èéêëēėęàáâäæãåāîïíīįìôöòóœøōõûüùúū""
Hello @jorgenhenrichsen

I used this library in one of my projects, this is a really good library and working perfectly. but sometimes the song will not be played if the song URL contains any of the below characters
"èéêëēėęàáâäæãåāîïíīįìôöòóœøōõûüùúū".

Thanks
Rahul Patel

[2021-09-27 15:54] dcvz commented on #142
@DkSuperMan are you switching tracks from the notification center?

[2021-09-28 03:08] dcvz commented on #141
Hi @hubertdaryanto ! This has been fixed in a release of the maintained fork linked in the README: https://github.com/DoubleSymmetry/SwiftAudioEx/releases

The fork also has some fixes for iOS 15 bugs

[2021-09-28 03:09] dcvz commented on #140
The fork has now been linked in this repository’s README. I’ll do my best to move over any relevant issues and PR’s.

[2021-09-28 03:12] dcvz commented on #103
This is now supported in the actively maintained form of this library linked in the README: https://github.com/DoubleSymmetry/SwiftAudioEx/releases

[2021-09-28 19:30] efguydan commented on #142
When you play a lot of tracks using QueuedAudioPlayer. When the first track finishes playing, it stops instead of playing the next track.

[2021-10-10 10:49] novecapa commented on #142
Can you try with the other fork?

pod 'SwiftAudioEx', :git => 'https://github.com/DoubleSymmetry/SwiftAudioEx.git', :tag => '0.14.4'

[2021-10-18 06:31] DkSuperMan commented on #142
The cause of the problem I have found is due to its internal multiple calls to enableRemoteCommands. At present, I feel that this project is not under maintenance. I hope my findings can help you.

[2021-10-18 06:31] #142 closed

[2021-10-18 06:35] dcvz commented on #142
@DkSuperMan the bug with the multiple remote commands has been fixed at the fork linked above to you. This is also the same fork linked in the README of this repository.

[2021-10-21 18:02] zebraf1 opened #144 "Xcode 12.5 - Using 'class' keyword for protocol inheritance is deprecated; use 'AnyObject' instead"
AVPlayerWrapperDelegate: class should be changed to use AnyObject.
This raises a deprecation warning when building.

[2021-12-28 15:56] KochMario commented on #119
Hi, I'm facing the same issue. Did you make any progress on this? I.e. come up with a DIY solution?

[2022-01-19 17:05] JhonnyTawk commented on #142
@dcvz Not solved I tried the new changes, Play a song -> go to background -> wait till the next song -> nothing happens and the player is paused